.header-container {
  background-color: #1976d2;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  margin: 13px;
  color: white;
}

.hamburger-container {
  padding: 18.5px 16.5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hamburger-container:hover {
  background: rgb(85, 142, 218);
}

.hamburger {
  height: 30px;
  fill: white;
}

.filler {
  width: 63px;
  height: 40px;
}
