.nav-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 250px;
  height: 100%;
  background-color: #fafafa;
  top: 1;
  transition: left 0.3s ease;
}

.nav-container-close {
  left: -255px;
}
.nav-container-open {
  left: 0;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  padding: 15px;
  color: #444;
  text-align: center;
  transition: background-color 0.3s;
}

a:hover {
  cursor: pointer;
  background-color: rgb(202, 199, 199);
}
